@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-slate-150 {
    background-color: rgb(226 232 240);
  }
  .bg-emerald-150 {
    background-color: rgb(209 250 229);
  }
}
